<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>reg_action</servlet-name>
        <servlet-class>reg.reg_action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addgdrive</servlet-name>
        <servlet-class>reg.addgdrive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>reg.check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>reg.Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail1</servlet-name>
        <servlet-class>reg.mail1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmail</servlet-name>
        <servlet-class>reg.sendmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>reg.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkcode</servlet-name>
        <servlet-class>reg.checkcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addskydrivenext</servlet-name>
        <servlet-class>reg.addskydrivenext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>gAccess.login.loginservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg_action</servlet-name>
        <url-pattern>/reg_action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addgdrive</servlet-name>
        <url-pattern>/addgdrive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmail</servlet-name>
        <url-pattern>/sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkcode</servlet-name>
        <url-pattern>/checkcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addskydrivenext</servlet-name>
        <url-pattern>/addskydrivenext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
